* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #a1c3ff;
}

.navbar .nav-links li {
    list-style-type: none;
}

.nav-links li a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-weight: bold;
}

.main-head {
    min-height: 400px;
    background-color: #0151cc;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    /* background-color: rgb(109, 109, 109); */
}

ul {
    display: flex;
}

.navbar {
    background-color: #3474e6;
    color: white;
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flex-discription {
    color: #fff;
}

.description-cont .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description-cont h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

h1,
h2 {
    margin-bottom: 15px;
}

img {
    max-width: 400px;
}

.main-head .logo {
    font-size: x-large;
    font-weight: bold;
}

.box {
    background-color: #0a51cc;
    color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.nav-links a:hover {
    background-color: lightblue;
    color: rgb(6, 92, 121);
}

.box i {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .description-cont .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
}